[2022-04-23 13:23] bobweek commented on #308
sure!

- the mam model has been used to explain the genomic basis of an interaction between a daphnia and a bacteria - [10.1016/j.cub.2013.04.064](https://doi.org/10.1016/j.cub.2013.04.064)
- the gfg model has been used to explain the genomic basis of an interaction between a flax and a rust fungus - reviewed here: [](https://doi.org/10.1146/annurev-phyto-072910-095301)
- the trait matching model

[2022-04-24 12:29] bhaller commented on #308
Hi @bobweek and @petrelharp.  This is all very interesting.  Would you like to develop an example recipe (or two) for the SLiM manual demonstrating these techniques with simple multispecies models, Bob?  That might be quite useful to folks.  If you're interested, don't launch into doing it quite yet, but just let me know you're interested, and I'll ping you when things are ready for that to happen

[2022-04-24 14:13] bobweek commented on #308
Yes, I'm interested! :)

[2022-04-25 16:28] bhaller commented on #309
Hi @bodkan.  Typing fast here as I have to go soon.

One thing: I suspect that you will simply have to get into dynamic script generation at some point.  As you start wanting to let the user plug bits of script in here and there, it seems like it will get increasingly difficult to accommodate that without generating the script on demand.  Is there really a problem with doing so?  It seems like it

[2022-04-26 20:46] bhaller commented on #309
I have just implemented (1).  (2) will wait until there is feedback here; if (1) suffices for your purposes then I will put off (2) indefinitely (but I suspect it does not).

[2022-04-26 21:18] ckyriazis opened #310 "Approach for calculating inbreeding load"
Following up on this [issue](https://groups.google.com/g/slim-discuss/c/qcqs3Fu8_90/m/EdaMwnL4BwAJ?utm_medium=email&utm_source=footer&pli=1) - I coded up an approach for calculating the inbreeding load in a population, which may be useful to include as a function in SLiM. In brief, the inbreeding load is a measure of the quantity of recessive deleterious variation concealed in heterozygosis in a p

[2022-04-26 21:32] bhaller commented on #310
Thanks @ckyriazis!  I'll likely add this as a function like:

- (float$)calcInbreedingLoad(object<Subpopulation> subpopulations)

Any comments from the popgen folks on here, such as @philippmesser @petrelharp @mnavascues @DrK-Lo?  I would probably use pretty much the description @ckyriazis put above for it, since I don't know enough about this stuff to try to expand upon that text.  :->  Is there

[2022-04-27 08:36] mnavascues commented on #310
I am not very familiar with the definition of "inbreeding load" but it is a relatively common measure of inbreeding depression in many theoretical and conservation genetics papers. Regarding the exact equation proposed by @ckyriazis I cannot comment on whether there are better alternatives to quantify it. Now, I am not sure of the factor two (this is pop gen after all...), on what I have seen, inb

[2022-04-27 19:37] ckyriazis commented on #310
Hi @mnavascues - thanks for weighing in. Youre correct that the factor of two may or may not be desirable to include - it really just depends if we would want the function to estimate the inbreeding load / number of lethal equivalents per haploid or per diploid (I tend to prefer 2B since I think its more intuitive to think about this quantity at an individual level, but others may disagree).

As f

[2022-04-27 19:50] bhaller commented on #310
That is very helpful, thanks @ckyriazis.  Not being a pop geneticist myself, I'm not sure I understand all of the subtle points here.  @ckyriazis would you mind writing up a brief summary of what exactly your code does, similar to the writeups the other `calc...()` functions in SLiM have?  It should explain the factor of two choice made in your implementation and how to correct the result if the u

[2022-04-27 20:43] bodkan commented on #309
You understood my request perfectly, (2) is exactly what I had in mind and it would be amazing to have that.

Assuming I had (2), the only thing that the slendr SLiM back end would contain in its `initialize()` callback would be `initializeChromosome(1, SEQUENCE_LENGTH)` (under the current setup), and the user could then provide their own `initialize()` callback that would build on top of that "bl

[2022-04-28 00:01] bhaller commented on #309
Thanks for the clarification, @bodkan.

Re: script generation and your philosophical note, yes, I agree completely.  The goal is not to try to wrap everything SLiM can do in slendr!  I just meant that you _could_ solve this problem you have with a bit of simple dynamic script generation.  If the user supplies a genetic initialization snippet, then emit a back-end script that contains that; if they

[2022-04-28 15:51] ckyriazis commented on #310
Sure! I will do this as soon as possible.

[2022-04-28 18:36] bodkan commented on #309
Hello @bhaller!

Again, as many times in the past, you have shown to have much better insight into many aspects of what I'm trying to do with slendr than myself. :) I appreciate the suggestion. This really seems like something that would unlock the potential for non-neutral genomic architectures very nicely without requiring any other dramatic changes (and without having to wait for SLiM 4). What

[2022-05-05 17:50] bobweek opened #311 "difficulty using readFromPopulationFile in a multispecies slim script"
hi! im hoping to use msprime to generate initial diversity for a slim model of two coevolving species (using slim 4.0). to do so, im following [the vignette on pyslim's documentation](https://tskit.dev/pyslim/docs/stable/vignette_coalescent_diversity.html) separately for each species (so outputting one tree sequence per species). taking this approach, readFromPopulationFile seems to work fine for

[2022-05-05 18:01] bhaller commented on #311
This may be one for @petrelharp.  Peter, how do you set the population id for subpops created on the python side?

[2022-05-06 16:10] bhaller commented on #308
OK, between @bobweek and myself we have now got recipe 19.6 that is trait-matching, and recipe 19.7 that is matching-allele.  That doesn't show every enumerated possibility, but I think it gestures sufficiently towards how to write these types of models, perhaps.  I think I will therefore close this issue.  However, there will probably need to be a couple more recipes in the manual to show how to

[2022-05-06 16:10] #308 closed

[2022-05-06 23:26] clwgg commented on #311
Hi @bobweek,
My familiarity with the SLiM codebase is somewhat limited, so please take everything I say with a grain of salt, but I think I am able to get your desired setup to work.
SLiM uses a combination of two metadata fields to populate the `subpop_id` from a tree sequence: the first one is the `subpopulation` field of each individual's metadata, and the second one is the `slim_id` of each po

[2022-05-06 23:31] bhaller commented on #311
Thanks @clwgg!  I don't know whether your solution will work or not, since I'm no good in Python, but it certainly looks helpful.  :->  I would note that even if it *does* work perfectly, the complexity of it perhaps indicates that there is room for improvement here.  Trying to import multiple subpops into SLiM as different species will probably be a pretty common thing for people to do,now that S

[2022-05-07 00:12] bobweek commented on #311
thank you @clwgg ! however, following your approach, im now getting the error `undefined identifier p0`. after commenting out the `readFromPopulationFile` for the second species, i instead get `undefined identifier p1`. i hypothesize using `readFromPopulationFile` a second time obliterates the initialization made for the first species (which im associating with `p0` in my slim script).

[2022-05-07 00:28] bhaller commented on #311
It is entirely possible that there is a bug in SLiM that prevents this from working.  I have not attempted it, and certainly before multispecies SLiM loading one tree sequence would entirely obliterate the previous simulation state.  Bob, can you post tree-seq files and a SLiM script, as minimal as possible, and well-formed in their metadata as far as you know, that reproduce the problem?  I don't

[2022-05-07 00:46] bobweek commented on #311
sure thing! you'll just need to edit the paths used in the slim script.

[readFromPopulationFile.zip](https://github.com/MesserLab/SLiM/files/8644151/readFromPopulationFile.zip)

[2022-05-07 00:56] clwgg commented on #311
I'm sorry to hear that you're still getting errors @bobweek! I haven't touched the multispecies branch before, but I just threw together a (very) minimal test case and couldn't reproduce the errors you report. I still thought I'd post it here, in case it's helpful for debugging:

SLiM v4 script:
[code]

[species_one.trees.zip](https://github.com/MesserLab/SLiM/files/8644160/species_one.trees.zip)

[2022-05-07 01:01] bobweek commented on #311
wow, nice work! however, i don't think you'll get the error unless you call `p0` or `p1`. try adding

`ticks all late() {
	p0.individuals;
	p1.individuals;
}`

and see if you get any errors.

[2022-05-07 01:04] clwgg commented on #311
ah! I do indeed!
[code]
works though!

[2022-05-07 01:05] bhaller commented on #311
Well, this is weird.  OK, I'll look into it.

[2022-05-07 15:49] bhaller commented on #311
OK, I believe this is now fixed in SLiM.  There will probably be lots of little things like this that don't work properly in the context of a multispecies model; keep the issues coming.  :->

I didn't close this issue because it seems to me that there is still a Python-side issue here, that setting up a particular subpopulation id on the Python side is harder than it ought to be.  I don't know wha

[2022-05-07 15:52] bhaller commented on #311
Hmm, GitHub won't let me transfer it to pyslim, perhaps because I don't have write access to that repo?  Well.  If you folks agree that there is an issue to be fixed on the Python side, I guess you should open a pyslim issue about that.  @petrelharp

[2022-05-07 15:52] #311 closed

[2022-05-07 18:05] bhaller commented on #306
OK, this is fixed in the SLiM 4 doc; closing.  For posterity, I wrote this (some of which was already there):

SLiMgui uses emojis in a couple of places.  For example, it shows the “snake” emoji, 🐍, after Python recipes in the Open Recipe menu.  Also, multispecies models typically set up emojis as “avatars” for the species being simulated, which SLiMgui uses to represent the species in its user in

[2022-05-07 18:05] #306 closed

[2022-05-07 19:24] bhaller commented on #305
OK, I edited that bit to say this:

I'm hesitant to remove all of the old instructions, since it seems like the sands are always shifting with this stuff and instructions that work one day don't work the next (which is frustrating).  If a given instruction doesn't work for someone, I want to try to provide a trail of bread crumbs that help them find their way.  I realize that makes the instruction

[2022-05-07 19:24] #305 closed

[2022-05-07 21:31] bodkan commented on #305
Hello @bhaller, I think this is great. This is all the info that any user who wishes to compile SLiM on the latest macOS should need.

Thank you!

[I also agree that removing the old instructions would've been a bad idea at this point.]

[2022-05-07 21:44] bhaller commented on #305
Well, that would be nice; but there's people who don't use Homebrew (I use Macports), people who don't use either, people who don't know how to use the command line... :->  Installation just turns out to be an incredibly ugly and complicated topic, and I don't think that's going to change.  There's conda, there's computing clusters, there's people running ancient OS versions who for one reason or

[2022-05-07 21:47] bodkan commented on #305
Haha, yes, of course! I wanted to say _"This is all the info that any **Homebrew** user who wishes to compile SLiM on the latest macOS should need."_ :)

[2022-05-07 21:50] bhaller commented on #305
I was loosely following all of the agonizing python install issues you were battling against recently.  It made me glad that I didn't try to make SLiM a Python package.  :->  There is often pushback from people against the idea of having to learn Eidos – yet another programming language, really?  And I totally get that.  But I think it's one of the best decisions I made with SLiM.  If only I could

[2022-05-07 21:52] bhaller commented on #304
Sounds like the shift away from vargen_t will happen in the next C API release, by mid-May-ish.  But it won't actually be removed for a good while; just deprecated.  So we could switch over to the new C API, when it is released, for SLiM 4; or we could sweep that under the rug and deal with it in 4.0.1 or 4.1 or whatever.

[2022-05-07 21:55] bhaller commented on #173
It would be good to either close this issue or, if there is something that actually needs to be fixed, fix it for SLiM 4.  @petrelharp ping?

[2022-05-07 22:18] bhaller commented on #307
After some more pondering, I think maybe I have an idea I like.  I have been thinking about adding additional chromosome views, for additional species, _vertically_, but I didn't like that idea because it would chew through so much vertical space – on a laptop screen, with three species, you'd have hardly any room left for your script and output views.  But it just dawned on me that I could add th

[2022-05-08 12:34] bodkan commented on #305
OMG. That was crazy. I pushed out the preprint, went to bed all excited about what's next... And then I wake up to see two slendr GitHub issues and one email... all boiling down to Python setup/installation issues that had nothing to do with R or SLiM. :D The despair... Came back stronger though. :)

I 100% agree. _Very_ early on I was one of those people and felt it would've been so much better t

[2022-05-08 12:53] bhaller commented on #305
Issue #2, I had forgotten that!  :->  I'm glad you're an Eidos convert, that's reassuring.  I still get lots of complaints about it, but I stick to my guns.

Some time you ought to poke around with language design, yeah; it's really fun.  Designing and developing Eidos was a blast.  And hey, if you want to real-world project in that area: I have been thinking that providing a way to do "just in ti

[2022-05-09 18:45] bhaller commented on #307
OK, you now get side-by-side chromosome views when you select the "all" species tab in a multispecies model (as well as the other expected changes for "all").  This involved extensive changes under the hood that may have been destabilizing for SLiMgui (not for SLiM); you might get a crash or other bad behavior.  It'd be great if you could play around with it and report any problems you see.  I wil

[2022-05-09 18:45] #307 closed

[2022-05-10 01:51] bhaller commented on #310
Hi @ckyriazis, just a ping.  :->

[2022-05-10 03:49] petrelharp commented on #311
Thanks very much for the help, @clwgg! Very useful. Hm, let's see, though, I'm a bit muddled here. SLiM does not [have a population metadata key called `"subpopulation"`](https://github.com/tskit-dev/pyslim/blob/main/pyslim/slim_metadata.py#L330), but (unless this has changed?) gets and records its subpopulation ID from the metadata key `"slim_id"`, which [is not entirely set to 0 by `annotate_def

[2022-05-10 05:28] clwgg commented on #311
@petrelharp I was referring to the **individual** metadata key called `subpopulation` which, as far as I understand, gets used [here](https://github.com/MesserLab/SLiM/blob/multispecies/core/species.cpp#L6332) to fill the `subpopInfoMap` when reading the tree sequence on `readFromPopulationFile`. Later, the **population** metadata key `slim_id` (which I also set above) gets read [here](https://git

[2022-05-10 06:17] petrelharp commented on #311
Oh, sorry, you're right! I've opened an issue on pyslim.

[2022-05-10 15:52] bobweek commented on #311
after updating slim, i now get the error `no SLiM provenance table entry found`. calling `get_provenance` on a tree sequence (for either species) returns `Tree sequence is not a SLiM tree sequence (or your pyslim is out of date)`. im using pyslim version 0.700.

[2022-05-10 16:46] clwgg commented on #311
@bobweek did you add `tick` and `cycle` to the toplevel metadata? I got this error too until I added those (see also the python code in my second post above):
[code]

[2022-05-10 17:48] bobweek commented on #311
ah ha! yes, this resolved that error. but now im back to getting `subpopulation p0 has been used already`.

[2022-05-10 18:46] petrelharp commented on #311
Hey, @bobweek - when reporting error messages, could you please also put in the code that you ran to get those messages? (maybe it's "the same code exactly as above" but there's a lot of code above...)

[2022-05-11 14:16] bobweek commented on #311
sure! attached is a compressed folder with the python script and slim script i ran to get the `subpopulation p0 has been used already` message. to get the `no SLiM provenance table entry found` message, just comment out

    ts_metadata['SLiM']['cycle'] = 1
    ts_metadata['SLiM']['tick'] = 1

for the first (host) species in the python script.

[msprime-burnin.zip](https://github.com/MesserLab/SLi

[2022-05-11 17:41] petrelharp opened #312 "loading a tree sequence with previous top-level metadata gives "misisng provenance row" error"
Perhaps this is already on your radar, but right now, if I run this code:
[code]
which tells me
[code]
and I try to read the tree sequences into SLiM, for the first one (without `tick` and `cycle` I get the error
[code]
However, (a) the error should refer to top-level metadata (although it does indeed fall back on provenance, but still), and (b) I would think there will be backwards compatibility

[2022-05-11 17:50] petrelharp commented on #312
This was observed by @clwgg and @bobweek -- see https://github.com/MesserLab/SLiM/issues/311#issuecomment-1122636136

[2022-05-11 18:09] clwgg commented on #311
hmm, it seems like that MWE doesn't actually include the fix I propose above, and it's commented out in the zip archive linked by @bobweek. Adding a dummy row to the population table doesn't affect how the `subpop_id` in slim is populated (at least in my limited experience over the last few days). To affect it, you'll have to set the metadata values I mention above (`slim_id` for populations, and

[2022-05-11 19:24] petrelharp commented on #311
Hah, yes, sorry about that! That's what I was missing. It works now! Arguably SLiM should have thrown a different error in this situation; I'll open a separate issue. However, here's a much easier way, now that we understand the problem:
[code]

[2022-05-11 19:28] petrelharp opened #313 "reading from a tree sequence where individuals are from an already-assigned population"
Over in #311 I've got [a simple example](https://github.com/MesserLab/SLiM/issues/311#issuecomment-1124085928) where I get the error:
[code]
The reason for this is that:
1. the first tree sequence I read in defines `p0`
2. in the second tree sequence, my population table defined `p1` and leaves `p0` empty,
3. **but** the individuals all say they're in subpopulation 0, so SLiM assumes there should

[2022-05-11 19:42] petrelharp commented on #296
Here's a paper discussing this, btw: https://genome.cshlp.org/content/23/9/1514.long

[2022-05-12 00:53] petrelharp commented on #173
Yes, this is a good point. I've thought about this a fair bit, and I think the motivation was just that everything would be nicer if the tree sequence stored information (ie metadata) about everything it refers to (eg old populations). But, as you say, that's not possible anyhow because populations can change their properties. So, as with individuals, we should just be happy with the tree sequence

[2022-05-12 01:50] bhaller commented on #173
Yay!

I'm open to 2b; seems easy (famous last words).  But, here's a random idea that occurred to me as I read this: We could add a mapping table optional parameter to `readFromPopulationFile()` that would just let the user say "the subpopulation 0 in this file should be loaded as subpopulation 3" or whatever.  Is that a good idea, or is it better to make people set up the file with metadata in so

[2022-05-12 06:58] petrelharp commented on #173
I think that'd be way better! It'd make all those headaches go away.

[2022-05-12 15:23] bhaller commented on #313
I'm having a weird deja vu feeling because I thought I already wrote this comment.  Maybe I wrote it on the wrong issue.  Anyhow, this situation now produces the error "ERROR (Species::__TabulateSubpopulationsFromTreeSequence): individual has a subpopulation id (0) that is not described by the population table."  Should do the trick.

[2022-05-12 15:23] #313 closed

[2022-05-13 01:45] bhaller commented on #173
OK, I have just fixed this, I think (in the `multispecies` branch).  I've added a `[No$ subpopMap = NULL]` parameter to `readFromPopulationFile()`.  The relevant doc reads:

Hopefully this will be what is needed.  It would be great to get some use of this from folks like @clwgg and @bobweek who have seemed to be interested in related stuff.  @petrelharp I take back what I said about diff review; t

[2022-05-13 01:51] bhaller commented on #173
Oh, and: in case it is useful to see an example, here's a script that reads in .trees files for each of two species in a model:

[code]

This script remaps id 1 to p3 for species sp1, and id 1 to p7 for species sp2.  As the comments note, the mutation types and genomic element types used in the files do still need to match what is defined in the SLiM model.  I made the .trees files loaded here usi

[2022-05-13 15:59] petrelharp commented on #173
Looks perfect (from the docs =). Very minor nitpick: maybe remove the "(or a subclass of Dictionary...)" note in the docstring?

[2022-05-13 18:34] bhaller commented on #296
Yep – "(see, e.g., Bhatia et al., 2013)" in the above doc excerpt.  @jgroh beat you to it.  :->

[2022-05-13 19:34] ckyriazis commented on #310
Hi Ben - sorry for the delay...heres my stab at it:

__________________
Calculates inbreeding load (the haploid number of lethal equivalents or B) for a vector of genomes. The inbreeding load is a measure of the quantity of recessive deleterious variation that is heterozygous in a population and can contribute to fitness declines under inbreeding. This function implements the equation from Morton

[2022-05-13 20:03] bhaller commented on #283
Fixed in `multispecies`.

[2022-05-13 20:03] #283 closed

[2022-05-13 20:45] bhaller commented on #310
@ckyriazis This looks great, thanks!  Your timing is good, I'll work on this today I think.

I don't feel like it's necessary to get into trying to support scripted modifications of dominance coefficients.  The source code for this function will be available in Eidos (as with all the popgen functions in SLiM), so people who are sufficiently motivated can simply copy your code and modify it to do w

[2022-05-13 21:15] bhaller commented on #310
Oh, one more question.  Is this a statistic that it is useful do calculate "windowed", for only the mutations within some range [start, end] in the genome?  If so, it's easy to add that, of course; I can do that if somebody thinks I should.

[2022-05-13 21:41] bhaller commented on #310
Sigh, another question (ironing out all the little details is complicated).  You write "a measure of the quantity of recessive deleterious variation", but the calculations do not exclude beneficial mutations.  Should they?  It would be easy enough to narrow `muts` down to only those mutations that are, in fact, deleterious.  What's the right thing to do?

[2022-05-13 22:07] bhaller commented on #310
OK, PR created.  I don't think it ready yet, though; I need clarification on the questions above.

It's hard to read the doc in the form it gets committed to GitHub, so here's what it looks like (sans formatting):

`(float$)calcInbreedingLoad(object<Genome> genomes, [No<MutationType>$ mutType = NULL])`
Calculates inbreeding load (the haploid number of lethal equivalents, or B) for a vector of geno

[2022-05-15 01:14] bhaller commented on #293
This has been fixed in `multispecies`.

[2022-05-15 01:14] #293 closed

[2022-05-15 02:39] bobweek commented on #173
I'm still getting an error: `property name must be unique across all subpopulations; pop_0 is already in use, or was previously used.` attached are (hopefully) mwe's to recreate this error.

[minimal-burn-in.py.txt](https://github.com/MesserLab/SLiM/files/8694206/minimal-burn-in.py.txt)
[mwe.slim.txt](https://github.com/MesserLab/SLiM/files/8694207/mwe.slim.txt)

[2022-05-15 02:53] bhaller commented on #173
Both subpopulations are named `pop_0`, which causes a conflict.  If they were named `p0`, that name would get remapped by the mapping table, since that name would follow SLiM's defined naming rules.  The name `pop_0` does not, and so a conflict results.  Where does that name come from?  Anyhow, if you set it to be `p0` then everything ought to work fine; but perhaps this is a place where additiona

[2022-05-15 03:00] bhaller commented on #173
I suppose SLiM could remap `pop_0` as well, potentially.  But then will we need to remap `population_0` and `subpopulation_0` and `pop0` and so on and so forth?  I guess I'd like to know where the name `pop_0` is coming from and whether it represents a standard defined by some package that SLiM ought to respect, or whether it is just an arbitrary name?  @petrelharp are you familiar with this?

[2022-05-15 03:00] bhaller commented on #173
Reopening for now.

[2022-05-15 19:04] petrelharp opened #316 "removing a subpop creates a trees file that cannot be read back in"
At first I thought this was a new problem, but either I'm confused (hopefully!) or this is a pre-existing bug, because it happens with both `multispecies` and `3.7.1`. Run first this script:
[code]
to produce `init.trees`, and then this script:
[code]

This *ought* to work, as we're just saving out the state and reloading it again, but we get this error:
[code]
The problem is removing `p2`: if we

[2022-05-15 19:16] petrelharp opened #317 "rows in population metadata without individuals no longer allowed in WF models"
This is not necesarily a bug but it is a backwards incompatibility: when reading in from a tree sequence file, if there are populations in the table with SLiM metadata but no corresponding metadata, in a WF model, then we get an error with the `multispecies` branch, but we did not with 3.7.1. (Maybe this is the desired behavior, but it's part of the bigger picture in #316.)

To set things up run t

[2022-05-16 03:52] petrelharp commented on #173
Yes, it's implied, and I could imagine you wanting to change things in the future so that it *didn't*work for any subclass of Dictionary.

[2022-05-16 04:03] petrelharp commented on #173
Well, this is a tricky one. We've got to stick in something for the `name` when we annotate. So, Bob could rename the populations so that the names don't conflict, but then that seems like it defeats the purpose of remapping. The remapping dict could have values that are population names (instead of IDs), but we'd still have to reassign new names somehow.

And, confusingly, changing the first popu

[2022-05-16 04:04] petrelharp commented on #173
If renaming the populations worked to avoid conflicts, I'd say that's a good and easy workaround - and, I don't see why it shouldn't work?

[2022-05-16 04:08] bhaller commented on #173
I'm not sure I understand all the issues at play here; but is it really necessary to use "pop_0" instead of following the SLiM convention of calling it "p0"?  That is the root of the problem, as far as I can see.  If you give both populations names that are the same, and thus conflict, like naming them both "foo", then you get a conflict.  SLiM doesn't know that there is no conflict unless you fol

[2022-05-16 04:11] bhaller commented on #173
Yes; I believe this is the policy we settled upon when we added the name metadata for subpops recently, no?  No name or id can be reused, even if it is no longer in use now, to avoid conflicts between the names/ids or subpops at different times.

[2022-05-16 04:31] bhaller commented on #173
Sorry if I'm missing the point here.  Exhausted, going to bed.

[2022-05-16 16:07] bhaller commented on #316
Fixed in `multispecies`.  This turns out to be a trivial fix.  The problem started when tskit started requiring metadata of `"null"` instead of just empty metadata.  There was one case in `WritePopulationTable()` that did not get transitioned over, and was still writing out empty metadata instead of `"null"`.  This will be rare for people to run into, because the removed subpop has to have a large

[2022-05-16 16:07] #316 closed

[2022-05-16 16:09] bhaller commented on #316
Thanks for the excellent reproducible case, BTW, @petrelharp.  I love it when I have one of those so I can get the problem in the debugger!

[2022-05-16 16:24] petrelharp commented on #316
Well, glad that was easy!

[2022-05-16 17:15] bhaller commented on #317
Hmm, OK, thoughts on this:

- Out of curiosity, why are there only individuals in `p1`?  The code gives `initial_size=10` for both; shouldn't they both have 10 extant individuals, one with an ancestral history added, one without?  This is presumably just my lack of comprehension of msprime APIs.  :->

- Empty subpops are not allowed in SLiM WF models.  It has ever been thus; setting the size to 0

[2022-05-16 17:45] bhaller commented on #317
I figured out what changed.  In 3.7.1, `__TabulateSubpopulationsFromTreeSequence()` sets up to create a SLiM subpop based on the individuals it finds in the tree sequence; it doesn't look at the population table at all, in fact, unless individuals are found, so it doesn't matter that metadata is there.

Since then, I have added a new method, `__PrepareSubpopulationsFromTables()`, that gets called

[2022-05-16 22:41] ckyriazis commented on #310
Hi Ben - lots of great points raised above!

- Yes, I think we should limit this to just deleterious mutations, and youre right on point that the `s = -muts.selectionCoeff` is what I really meant when I was making reference to `|s|`. The reason I wanted positive `s` is that Morton et al 1956 assume positive `s` for deleterious mutations, though of course SLiM models deleterious mutations as having

[2022-05-16 22:53] bhaller commented on #310
Hi @ckyriazis.  Almost done, but one important question remains:

Should I filter the vector of mutations down to only those that are deleterious?  Or does it actually make sense to talk about the "inbreeding load" of beneficial mutations?

[2022-05-16 23:15] ckyriazis commented on #310
Yes - it would make sense to filter down to only deleterious mutations!

[2022-05-16 23:34] bhaller commented on #310
OK, perfect.  I think I understand everything now; I'll update the PR and post again here when it's ready for review.  Thanks!

[2022-05-17 00:54] bhaller commented on #310
OK, the PR is done and merged.  Changes were trivial, apart from adding the exclusion of non-deleterious mutations, so it didn't seem like it needed further review.  Sorry I didn't notice your first reply on that particular point, @ckyriazis; I guess I read too fast.  :->  Anyhow, this is a great addition, thanks again Chris!  I hope I didn't make the process too painful; I'd love to see more popg

[2022-05-17 00:54] #310 closed

[2022-05-17 16:49] ckyriazis commented on #310
Awesome!! Not painful at all. I am so extremely grateful for the heroic amount of work you've put into SLiM so happy to help in any small way I can :)

[2022-05-18 13:59] petrelharp commented on #317
This is because of this line:
[code]
where we say that we would like there to be 5 sampled genomes from population B (and none from A).

[2022-05-18 15:03] bhaller commented on #173
If `pop_0` is an msprime default that is standard (i.e., not a moving target) then I'm OK with having SLiM handle `pop_0` the same way as `p0`, I think (but you should ponder that since you understand the msprime side far better than I).  I just don't want to get into the game of trying to resolve conflicts with arbitrary/non-standard names.  If `po_0` is standard then this is just interoperabilit

[2022-05-18 15:04] bhaller commented on #317
Huh.  So the `initial_size=10` is just ignored/unused?  That seems weird to me, but mine not to reason why... :->

[2022-05-18 15:54] petrelharp commented on #317
I agree with everything you wrote above, otherwise! But we ought to just talk through the policy, first.

[2022-05-18 17:26] bhaller commented on #173
After discussion, the consensus was yes, proceed with remapping `pop_0` to `pX` according to the mapping dictionary.

[2022-05-18 18:06] bhaller commented on #317
I'm not sure where my point of confusion lies, but anyway this is orthogonal to the issue at hand.  :->  I guess I've just never used these msprime APIs and don't really understand what they're doing.  :->

[2022-05-18 18:07] bhaller commented on #317
Fixed in `multispecies`, following approach (2) as per our discussion on zoom.  Closing.

[2022-05-18 18:07] #317 closed

[2022-05-18 18:18] bhaller commented on #173
Just fixed in `multispecies`, closing.

[2022-05-18 18:22] bhaller opened #318 "Subpop metadata "carryover" probably broken by recent commits"
I think “carrying over” non-SLiM metadata will no longer work because of the new code in `Species::__PrepareSubpopulationsFromTables()`.  As it scans through the population table on read, it raises an error on any metadata present that is not JSON, not `'object'`, doesn’t have a `slim_id`, etc.; basically it requires that incoming metadata must either be `'null'` or compliant SLiM metadata.  I gue

[2022-05-18 18:23] bhaller commented on #318
@petrelharp This needs your input.

[2022-05-19 02:34] petrelharp opened #319 "add tests of population remapping"
Add tests (perhaps to the `treerec/tests` section) that check whether:
- alive nodes with population not having SLim metadata produces an error
- reading of multiple tree sequences whose populations conflict produces an error
- reading of multiple tree sequences whose populations are remapped to not conflict works
- existing non-SLiM metadata in population table entries not referred to by alive no

[2022-05-19 02:52] bhaller commented on #318
Hmm, I guess my term "super weird" was not as specific as it could have been.  :->  I do see the *utility* of carryover, in certain situations such as you describe.  What seems "super weird" to me is to deliberately write out data that we know violates the schema, producing a file in which the metadata in the population table does not all conform to the same schema.  Indeed, there could potentiall

[2022-05-19 02:53] bhaller commented on #318
If you could provide me with a simple python and SLiM script that tests that carryover is working correctly, that would be very helpful for me, @petrelharp.  :->  I guess you intend to write one for that issue you just opened anyway?

[2022-05-19 13:27] petrelharp commented on #318
Oh, darn it, you're totally right - we can't do this, as it violates the metadata schema. Or, if we want to do it we need to remove the `"slim_id"` key from the `required` list in the schema, so that "any json is ok" - I'm tempted to go that way, really. Perhaps I'll ask others on slack what they think?

[2022-05-19 13:57] bhaller commented on #318
Removing the key is a bit squiffy, to me, because the key *is* required for the metadata to be well-formed SLiM metadata, and that's what they schema is describing – what is required for metadata to be well-formed SLiM metadata.  If we have to get rid of all our required keys for interoperability, everybody else will too – msprime, etc., also won't be able to have any required keys, because they w

[2022-05-19 16:23] bhaller commented on #318
So, if I understand what has been said on Slack correctly, we do have to remove the required key; otherwise validation will fail.  I'm not sure this will be a good design in the long run – not having any required keys seems kind of broken to me.  But I guess that's where we're at, until such time as tskit provides schema merging capabilities or whatever they decide to do.  So to fix this issue I g

[2022-05-19 17:43] bhaller commented on #318
If I understand where we have ended up, there is no case where we will replace "carryover" metadata with `null` on write.  Either (1) the carryover subpop is not extant in SLiM at the end of simulation, in which case we emit the carryover (even if it _did_ get forward-simulated by us, but has since been removed; we have no knowledge of it any more, and no metadata to replace the old metadata with)

[2022-05-19 18:12] bhaller commented on #319
Should also test that when remapping is used, carryover metadata gets shifted to the new remapped index unmodified, without errors.  This does not work at present; I need a test case to get it working confidently.  Also: test that a remapping that leads to a conflict between the remapped subpops correctly errors out.  Also: test that when carryover metadata is present, SLiM correctly requires a re

[2022-05-19 18:25] bhaller commented on #318
I have just committed a partial fix for this issue, but there are loose ends (and also, I'm pretty sure, bugs).  I will wait to close this issue until #319 is done and we can validate that carryover is working in all cases.

[2022-05-19 18:28] petrelharp commented on #318
I agree, we remove the required key and modify `PrepareSubpopulationsFromTables`. I think it does totally make sense; we're just saying "SLiM will only look at and deal with metadata having a `slim_id` key (and oh by the way here's the other stuff it'll look for)". There's not a terribly natural way of saying exactly that in the metadata schema, but we don't want to get too caught up in that - we

[2022-05-19 18:32] bhaller commented on #318
Ah, I see.  Hmm.  OK, I will do that momentarily.

[2022-05-19 18:40] bhaller commented on #318
Ah, I think that already got fixed in #317.  Quite the flurry of issues we've got going here.

[2022-05-20 04:51] petrelharp commented on #318
The carryover seems to be working! I'll have other issues to be opening though...

[2022-05-20 04:51] #318 closed

[2022-05-23 20:04] bobweek opened #321 "readFromPopulationFile supopulation remapping collision"
after rebuilding slim and applying the `subpopMap` function, im still getting a `pop_0 is already in use` error. attached is a mwe.

[mwe.slim.txt](https://github.com/MesserLab/SLiM/files/8757743/mwe.slim.txt)
[mpsrime-burnin.py.txt](https://github.com/MesserLab/SLiM/files/8757744/mpsrime-burnin.py.txt)

[2022-05-23 20:10] bobweek opened #322 "feature request: allow setting hotkeys to move cursor to different regions of slimgui"
in environments like vscode and rstudio, pressing ctrl+1 will place the cursor in the scripting window. having the same feature in slimgui would save a lot of time spent reaching over to the mouse to click into the scripting window. almost any work related task on my computer can be done without touching the mouse. so reaching for mouse each time i open a slim script creates a significant bottlene

[2022-05-23 20:38] bhaller commented on #321
Worked fine for me with the current `multispecies` branch, except for this warning:

`#WARNING (Species::ReadTreeSequenceMetadata): the model type of the .trees file (nonWF) does not match the current model type.`

This is because you're calling `pyslim.annotate_defaults()` with `model_type="nonWF"` but then loading into a WF model.  Not a good idea, but I think the error you are seeing is unrelat

[2022-05-23 20:40] bhaller commented on #322
OK.  Do you expect this to change which window has focus?  I.e., suppose the window that currently has focus is a graph window, or the Eidos console, or something like that; do you expect this hotkey to switch focus to the main window?  Or does it just shift the focus _within_ the main window?

[2022-05-23 20:42] bobweek commented on #321
your first suspicion is correct! i forgot to `sudo cp SLiMgui /usr/bin/SLiMgui`. my apologies! it's working now :)

[2022-05-23 20:43] bhaller commented on #321
OK, great.  Closing!  :->

[2022-05-23 20:43] #321 closed

[2022-05-23 22:09] bobweek commented on #322
sorry, just within the main window. i should have said pane instead of window.

[2022-05-23 23:10] bhaller commented on #322
I've just committed a fix to `multispecies`.  See what you think.  I added command-2 (control-2 for you I think) to switch focus to the output/console, too; more useful in the Eidos console than in the main window.  I am a heavy mouse user, so I don't notice problems with keyboard navigation; feel free to log issues.  :->

[2022-05-23 23:10] #322 closed

[2022-05-23 23:21] bobweek commented on #322
perfect, thank you!

[2022-05-28 20:40] bhaller commented on #304
@petrelharp it looks like there is still use of `tsk_vargen` in `Species::CrosscheckTreeSeqIntegrity()`.  This is lower priority than getting pyslim squared away, of course, but it would be nice to fix it eventually; do you might doing that, since you're on top of how to do this migration?

[2022-05-28 20:43] bhaller commented on #230
If this is going to be fixed at all, it should be fixed for SLiM 4, since it will break backward compatibility.

[2022-05-30 04:33] petrelharp commented on #304
#324!

[2022-05-30 06:56] petrelharp commented on #319
I've got a test in pyslim for doing remapping in which there is also non-SLiM metadata to carry over, however this is [not yet working](https://github.com/MesserLab/SLiM/blob/c7238f84c0b5460b1806eb6e3d412009fafc4897/core/species.cpp#L6715). In fact I'm not quite sure how this should work. Proposal: suppose that `subpopMap` has some `pk: j` pairs. Then in the resulting popultaion table (ie after re

[2022-05-30 06:59] petrelharp commented on #319
What did you have in mind here?

[2022-05-30 07:35] petrelharp opened #325 "error message for treeSeqOutput inside of first()"
If you try to do `treeSeqOutput( )` inside of a `first()` block:
[code]
you get an error saying you can't do treeSeqOutput "inside a callback":
![Screenshot from 2022-05-30 00-33-01](https://user-images.githubusercontent.com/1046249/170941067-9a1afdf2-9a6d-43ee-ab5c-2b37895bf961.png)
... however, `first()` is not a callback, it's a stage (I think?). This is very minor, but is easy to fix and could

[2022-05-30 07:42] petrelharp opened #326 "modelType has moved to community"
Scripts containing `sim.modelType` raise this error:
[code]
... which could be autocorrected to `community.modelType` by SLiMgui, but isn't.

MWE:
[code]

[2022-05-30 11:35] bhaller commented on #304
Awesome, thanks!  :->

[2022-05-30 11:35] #304 closed

[2022-05-30 12:45] bhaller commented on #326
Fixed in `multispecies`, thanks!

[2022-05-30 12:45] #326 closed

[2022-05-30 13:08] bhaller commented on #325
OK, fixed in `multispecies`, thanks!  I fixed it by removing the error, actually; writing out in a `first()` event should be legal, according to current policy.

There is a bit of an odd situation here, though.  The `readFromPopulationFile()` method currently does not allow you to _read_ a file in a `first()` event.  It feels weird and wrong to me to read a file in a `first()` event; to me, those

[2022-05-30 13:26] bhaller commented on #319
Ah, yes.  Gotta love when a "FIXME" comment comes back to haunt you.  :->

Yes, for clarity and to make what is happening fully explicit.

Perhaps true (although then the semantics for the regular SLiM subpop remapping case would become less clear, and that's the common case).  In any event, that isn't possible at present, since `Dictionary` requires that its keys be type `string`.

Yes, possibly.

[2022-05-30 15:13] petrelharp commented on #319
Right now I'm feeling like it's Fine the Way It Is - it's a bit unsettling, but just making the documentation a bit more explicit would fix that up. (I had the feeling of "wait is this how it's supposed to work", but a few sentences in the documentation would have cleared that up.) I'm sympathetic to wanting to rip it out, but I don't think that's the way to go because, as we've discussed, we do n

[2022-05-30 15:33] bhaller commented on #319
Hmm, ok.

OK, LGTM.

Well, "empty" and "unused" are two different things, right?  An index in the population table might be "empty" in the sense of not having any metadata, but still be used in the tree sequence, right?  And at the point when the remapping happens, the code does not yet know whether a subpop is used or not, so distinguishing between those cases would make things even more complex

[2022-05-30 15:39] petrelharp commented on #319
Oh, hah, right, good point. Yes, never mind.

I meant the docstring for a different semantics where no-metadata pops needn't be remapped, which you point out is a Bad Idea.

Fine, just an idea.

[2022-05-30 15:44] bhaller commented on #319
OK, great.  I'll use the docstring you wrote earlier.  So, apart from clarifying the doc in that way, I guess the current behavior is agreed to be correct, _except_ that the carryover case with remapping is not working (because it is not implemented at all), right?  A test case I can use to validate my fix for that would be helpful, as you offered on Slack, yes, thanks!

[2022-05-30 20:36] bhaller commented on #319
OK, I believe I have just committed a fix for (a) carryover population metadata, and (b) remapping migration records (but not the migration table, which we ignore).  It now loads your test tree sequence file without errors, and makes two SLiM subpopulations with migration between them.  I also fixed the doc for `readFromPopulationFile()` along the lines of your proposal.

One note: your `.slim` fi

[2022-05-31 05:18] petrelharp commented on #319
There is one remaining issue - it's currently not dealing with cases where population is `-1` (ie `TSK_NULL`). I think it's legal for `source` and `dest` to be NULL in a migration table, and by default when we use msprime to make SLiM mutations we get a `subpopulation = -1` in the metadata. I think the -1's should be mapped to -1.

[2022-05-31 14:19] bhaller commented on #319
I'm not sure I understand.  We're remapping row indices.  What does it mean for something to be remapped to -1?  I can't put the row for a subpop at index -1.

[2022-05-31 14:23] bhaller commented on #319
And do we need to allow -1 to be remapped to something other than -1?

[2022-05-31 15:42] petrelharp commented on #325
Huh, interesting. I had just determined that tree sequences couldn't be written out in `first()` and so I didn't need to worry about that stage in pyslim, which was kinda nice.=)

I guess I think that if you can write out during that stage you should also be able to read in during that stage, since otherwise (as you say) it's weird and confusing. Unless, that is, there's some good reason that will

[2022-05-31 18:58] bhaller commented on #319
OK, I understand now, thanks.  I believe I have just committed a fix for the `TSK_NULL` case, but it is completely untested.  Let me know if you see further issues.

[2022-05-31 19:19] #325 closed

[2022-06-01 04:12] petrelharp commented on #319
I see that if population `X` is remapped to `Y` then you're remapping a non-SLiM population name like `pop_X` (good), but it's being [remapped to `pY`](https://github.com/MesserLab/SLiM/blob/ac12bf6020a7217f0c1010d80d94b9011b9e765a/core/species.cpp#L6829); I would have thought it would go to `pop_Y`, and this would be an easy change? (I also see from the note that you're *not* remapping `pX` to `p

[2022-06-01 04:48] petrelharp commented on #319
Never mind - I think what you did there is fine.

[2022-06-01 10:46] bhaller commented on #319
OK.  Happy to discuss if there is a problem, but it seemed like the right policy to me, dunno.  :->

[2022-06-04 16:33] bhaller opened #330 "Eidos test failure for "Windows pacman (mingw64, x86_64)""
Build succeeds but there is an Eidos test failure:

[665] initialize() { initializeMutationRate(1e-4); initializeMutationType('m1', 0.5, 'f', 0.0); initializeGenomicElementType('g1', m1, 1.0); initializeGenomicElement(g1, 0, 99999); initializeRecombinationRate(1e-8); } 1 { sim.addSubpop('p1', 10); } 10 { sim.mutations[0].setSelectionCoeff(500.0); sim.recalculateFitness(); } 30 { sub = sim.substitu

[2022-06-05 20:39] petrelharp commented on #330
My guess is that you got unlucky and in that run there were no substitutions? You could check to see if the failure is stochastic by re-running that job? (hm, maybe not any more though? - when it was fresh at least you'd have a "re-run jobs" button up top:
![Screenshot from 2022-06-05 13-38-33](https://user-images.githubusercontent.com/1046249/172069616-508da251-c09a-49df-a94d-20d82c9f2e87.png)

[2022-06-05 22:17] bhaller commented on #330
Oh, duh.  That must be it, thanks.  Closing.

[2022-06-05 22:17] #330 closed

[2022-06-13 15:44] bhaller opened #332 "Save parent pedigreeID ID in tree-sequence of individual meta data"
### Discussed in https://github.com/MesserLab/SLiM/discussions/331

<div type='discussions-op-text'>

<sup>Originally posted by **lerch-a** June 13, 2022</sup>
It would be great if the parent pedigreeID could be saved in the tree-sequence, when the keepPedigrees=T in initializeSLiMOptions.
I think the easiest way would be to save the parent pedigreeID in the meta data of the individual like the pe

[2022-06-13 16:06] petrelharp commented on #332
Let's see - what exactly do you need here, @lerch-a? Like, *which* parents do you need to know about? And, did you know that SLiM now records parentage information for any output individual? So, if `a` and `b` are both individual IDs in the output tree sequence, and `a` is one of `b`'s parent, then `a` will be one of the elements of
[code]
(It might be the only element, if the other parent isn't i

[2022-06-13 16:51] #332 closed

[2022-06-13 16:57] lerch-a commented on #332
Oh, I'm sorry. I'm still using 3.6.
So everything I need is actually already in place. Great and sorry for not being up to date.
I'll download SLiM v4 and use all the new feature :)

[2022-06-13 17:01] bhaller commented on #332
SLiM 4 is still in beta, so unless you want to be an early adopter, you may want to just update to 3.7.1.  All the installers will give you 3.7.1 now.

[2022-06-13 19:50] petrelharp commented on #332
I've just checked, and these things are indeed in 3.7.1, so you should be good there!

[2022-06-27 18:50] clwgg opened #333 "[Feature request] record Individual.tag / Individual.tagF in treeseq individual metadata"
Hi! The title pretty much says it all: I think it would be really cool if the tag/tagF properties of individuals would be propagated to the individual metadata in the tree sequence output. I don't know how feasible/difficult this is with how the metadata encoding is handled, but just wanted to put it out there. Please let me know what you think :)

[2022-07-03 14:43] petrelharp commented on #333
I've wondered about this also! Maybe it's something we should discuss when discussing mutation metadata? In principle it wouldn't be hard to optionally include `tag` (optionally for everyone all at once), so that for instance when writing out the tree sequence there was an option like `saveTags` that if `T` would include the `tag` in the metadata schema. It'd complexify the code for reading in tre

[2022-07-03 15:51] bhaller commented on #333
Pondering this.  So, the difficulty is that tag values are on most of SLiM's classes – not just Individual and Mutation, but all over the place.  It would be weird to persist just some subset of those tag values (people would think they had all been persisted when only some actually had, and it would lead to bugs and complaints); but persisting them all requires that we find a spot in the .trees m

[2022-07-03 18:19] petrelharp commented on #333
Huh. An alternative is to not do this at all, and provide an example of how people can write out arbitrary extra information into top-level metadata?

[2022-07-03 18:37] bhaller commented on #333
That might be the best path.  Does it solve the problem?  Suppose a user wants to have a tag value associated with every individual kept by simplify – not just extant individuals, and not just individuals that have been explicitly remembered.  That's quite hard to do now, isn't it?  I don't know.  This has been a problem forever, but it's also pretty hard to fix right.  I'm not sure what to do abo

[2022-07-03 20:15] petrelharp commented on #333
Right, good point. It would not save the tags for no-longer-extant individuals. It would let people save-and-restore state that depends on tags, though, which is a major use case.

Hm - and, people could stick a few floats' worth of information into spatial location, for no-longer-alive individuals, unless they're doing a 3d simulation.

On the tree sequence side, having different versions of the

[2022-07-03 20:55] bhaller commented on #333
`individual.z` only gets written out if the simulation is set to 3D, right?  So you'd need to configure with an additional dimension, to get the storage you want to use.  I don't think there would be any negative side effect to that; if interactions are configured "xy" they should just ignore the z.  Kinda gross though.  :->

Yes, saving tag values for extant individuals in top-level metadata cert

[2022-07-04 14:42] petrelharp commented on #333
It's always written out (and is 0.0 if the sim doesn't use a `z`), but you can't access it in SLiM if you don't set the simulation to 3D. It's a bit gross, but not too bad - you've even got an example of using `z` for a phenotype in the manual IIRC?

[2022-07-04 17:30] bhaller commented on #333
Huh – I thought the location data had 0/1/2/3 entries per individual, based upon the spatiality of the model.  But it does look like the code always writes out all three.  What am I remembering?  Is there some other variable-number-of-entries column that I'm thinking of?

Yes, there's an example model that uses the third dimension to store phenotypes.  It actually uses those in InteractionType, to

[2022-07-05 14:20] petrelharp commented on #333
The only variable-length thing we have is the number of SLiM-mutations in the mutation list for mutation metadata.

[2022-07-05 15:27] bhaller commented on #333
Weird – I could've sworn.  Delusional I guess.  :->

[2022-07-05 17:16] clwgg commented on #333
Thanks for the discussion! I just wanted to say that putting the values into `Individual.z` works fine for my use case.

[2022-07-05 22:44] bhaller commented on #319
Hi @petrelharp.  Is this issue finished, or are there more things you still want to do?

[2022-07-05 23:36] bhaller opened #334 "Segfault in python-based tests"
Hi @petrelharp.  Here's a segfault that occurred in the CI of my latest commit:

https://github.com/MesserLab/SLiM/runs/7205270523?check_suite_focus=true

I'm pretty sure this has nothing to do with the commit; all I did was add a warning in an obscure code path.  So this might be some sort of intermittent problem...?  I can click "re-run" to see if it happens again, but I'm not sure whether that

[2022-07-05 23:37] bhaller commented on #334
Interesting, it let me assign it to you.  I think it used to not allow me to do that.  :->

[2022-07-06 00:04] asadrh8 opened #335 "Error with paste0 function: too many arguments supplied"
Hi,

I've been running into the issue below when attempting to name treeseq files using the paste function.

<img width="576" alt="image" src="https://user-images.githubusercontent.com/73436736/177435707-5cebe2bf-1112-4042-b6be-9f81839e2e8f.png">

In this case, I've defined rep and s in the terminal as I'm using a remote server. The simulation runs smoothly when I run it locally in SLiM (defining

[2022-07-06 00:55] bhaller commented on #335
Hi!  My guess is that the version of SLiM you're running on the remote server is old.  IIRC, `paste0()` was upgraded from something like `paste0(*x)`, taking a single vector of values, to `paste0(...)`, taking multiple vectors, maybe in SLiM 3.7.  If you install 3.7.1 on your remote server I think you'll be fine.  Comment again if that is not the problem, and I'll reopen this issue.  Happy modelin

[2022-07-06 02:49] petrelharp commented on #334
Well, that's vaguely worrisome. here's a screenshot for posterity. I guess the thing to do is to try running that test with a whole bunch of seeds (although I thought the seeds were set!) and see if it happens reproducibly.
![Screenshot from 2022-07-05 19-44-43](https://user-images.githubusercontent.com/1046249/177457273-2e6014d9-6af1-4557-bd2a-ecd7fba4aa51.png)
![Screenshot from 2022-07-05 19-44-

[2022-07-06 02:51] petrelharp commented on #334
But yes - hit re-run now?

[2022-07-06 03:11] bhaller commented on #334
OK, re-running now:

https://github.com/MesserLab/SLiM/runs/7207688051?check_suite_focus=true

There was a checkbox for "enable debug logs".  I have no idea what it does, but I checked it, because why not.  :->

[2022-07-06 03:17] bhaller commented on #334
Looks like the old logs continue to exist; the re-run is separate.  Good to know.

[2022-07-06 03:25] bhaller commented on #334
Looks like it segfaulted again @petrelharp, so at least it seems reproducible...?

[2022-07-06 21:27] bhaller commented on #335
This is quite odd.  Your script runs without errors for me in both SLiM 3.7.1 and the SLiM 4 beta.  The change to allow multiple arguments to paste() and paste0() was done in SLiM 3.5.  Are you _really_ sure you're running SLiM 3.7.1?

[2022-07-06 23:12] asadrh8 commented on #335
So it runs SLiM version 3.3.2! Guess that's the issue. I'm not sure where that's coming from but that's my problem to fix haha.

Thanks for the help.

[2022-07-06 23:16] bhaller commented on #335
You're welcome!  Closing.  :->

[2022-07-06 23:16] #335 closed

[2022-07-07 14:37] petrelharp commented on #334
Ok! But only on MacOS! Any chance you, as a mac-using-person, could check if this occurs on your machine?

[2022-07-07 14:53] bhaller commented on #334
Sure; how do I do so?

[2022-07-07 15:00] petrelharp commented on #334
Let's see - briefly; install tskit, pyslim  (version 1.0b1) and pytest; then go to `treerec/tests/` and run `python -m pytest`. As for how to install those - look at the tskit docs, and install pyslim and pytest the same way? (eg with conda?)

[2022-07-07 16:07] bhaller commented on #334
Hmm.  I am not a conda user, so I'm not gonna do that :->, but I just updated to the current tskit and pyslim.  BTW, running `python setup.py install --user` gave me this warning:

/Users/bhaller/Library/Python/3.9/lib/python/site-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.

It seems to

[2022-07-07 20:05] bhaller commented on #334
(Note that although it says "use `pytest --fixtures [testpath]` for help on them", I do not seem to have a `pytest` command on my system:

[code]

so I'm not sure what to do; and anyway I'm not sure what I would put for `[testpath]`.  Not the most helpful error message, IMHO.  :->)

[2022-07-07 23:54] petrelharp commented on #334
I think you need to install and/or update your `pytest` module?

[2022-07-08 00:44] bhaller commented on #334
I didn't have it before, so that's a brand new install.

[2022-07-09 04:35] petrelharp commented on #334
Ah - that error is actually due to you needing `pytest-xdist`, which you'd get from (in the `treerec/tests` directory.
[code]

[2022-07-09 17:07] bhaller commented on #334
OK, I did that, and it seems to have resolved the problem described above.  New results:

[code]

What does all that mean?

[2022-07-09 17:12] petrelharp commented on #334
It looks like maybe you don't have `slim` in your `$PATH`?

[2022-07-09 17:13] petrelharp commented on #334
You should have a logfile of what happened (probably "command not found"?) in `/private/var/folders/js/tdccty6x1mn8_58ygf7v1d440000gn/T/pytest-of-bhaller/pytest-0`.

[2022-07-09 19:12] bobweek opened #336 "feature request: do not include trailing blank space when pressing ctrl+shift+left/right"
hi! in slimgui (linux version) holding ctrl+shift while pressing either right or left to highlight a word includes the trailing blank space (when it's there). in other ide's like rstudio and vscode, the trailing blank space is not included. if you could make slimgui conform to this standard, i think it would save users some time when writing scripts in slimgui. thanks!

[2022-07-09 23:50] bhaller commented on #336
I'll look into it, but I doubt this behavior can be easily modified; it is defined by Qt, not by me.  Maybe I can override it somehow.  Thanks for the report; for what it's worth, I certainly agree!

[2022-07-10 00:08] bhaller commented on #334
Ah – it was running against SLiM 3.7.1.  Sigh.  So many ducks, so misaligned.  Good to know where to look for that error log, thanks.

OK, so now I'm tearing my hair out over a new Python issue.  I built pyslim as I think it is recommended that I do.  Here is the output:

[code]

As you can see, `pip freeze` says I have `pyslim==1.0b1`.  In a fresh terminal window, I then go to the tests directory

[2022-07-10 04:11] petrelharp commented on #334
Maybe a red herring, but I notice you did `python3` to install but then `python` to run; those can point to different python's?

[2022-07-10 04:12] petrelharp commented on #334
so; I'd try `python3 -m pytest -xv`

[2022-07-10 15:43] petrelharp commented on #334
Not necessarily - you called `python3` to install; is that the same as `python3.9`?

[2022-07-10 15:54] bhaller commented on #334
Yep.

[code]

I have only one Python 3 installed on my Mac, and it's 3.9, and both `python` and `python3` point to it.

[2022-07-21 16:25] petrelharp commented on #334
I've just done this on a Mac and got no failures. Hmph:
[code]

[2022-07-21 21:47] bhaller commented on #334
I finally got python working on my machine (3.9.10) at it also does not crash.  Only crashes on GitHub.

[2022-07-21 22:35] bhaller commented on #250
Aha!  Now that you are "Write" instead of "triage", I can assign issues to you!  :->

Up to you if you ever want to do this.  If you are sure you never will, feel free to close.

[2022-07-21 23:46] bhaller commented on #230
After reflecting on this, I've decided not to do it.  Besides the backward compatibility break that could introduce confusing bugs, the big problem is that if 5.5e2 comes out as integer 550, how does the user indicate float 550.0?  I mean, in _that_ case they can type 550.0 and get a float, but for larger numbers – 5.2378e6, say – you really want to be able to use scientific notation for the float

[2022-07-21 23:46] #230 closed

[2022-07-22 04:58] petrelharp commented on #230
Seems fine to me. The situation is a bit annoying, but there's no resolution to it that isn't. You can ask R to output things not in scientific notaiton (e.g. with `options(scipen=9)`, IIRC, or with `sprintf( )`); and in eidos the user can wrap things in `asInteger( )`.

[2022-07-22 11:57] bhaller commented on #230
Yep, OK, agreed.  Thanks.

[2022-07-25 16:07] petrelharp commented on #334
Resolved over on the tskit side!

[2022-07-25 16:07] #334 closed

[2022-07-25 16:09] bhaller commented on #334
Thanks for your work on this!  And it is good to also have a working python stack, thanks to your help too.  :->

[2022-08-01 22:21] bhaller commented on #319
@petrelharp ping

[2022-08-07 16:24] bhaller opened #343 "turn pacman crank for SLiM 4"
Hi @rdinnager.  Time to turn the pacman crank for SLiM 4!  I'm not 100% sure this will be the golden master, but it's 98% I think, and pacman takes so long to roll, let's get it started ASAP.  I expect to do the release publicly on Tuesday or Wednesday, probably.  Please post progress here on the issue, so that Windows folks can see how things are coming along.  Thanks!

[2022-08-09 23:30] bhaller commented on #343
Hi @rdinnager.  I don't think you've pulled down the pacman archive yet, but if you have, note that I just tagged 4.0 on GitHub and uploaded a new pacman archive for you.  It does contain a couple of teensy changes, so the pacman crank should be reset if you did start it already.  We are now officially in final candidate 1.  Anyhow, as I said by email, no worries that you're on break, the release

[2022-08-10 03:15] petrelharp commented on #319
Closed in https://github.com/tskit-dev/pyslim/pull/273

[2022-08-10 03:15] #319 closed

[2022-08-16 21:33] petrelharp opened #345 "`treeSeqRememberIndividuals(inds)` now throws an error if inds is of length zero"
Consider the following script:
[code]

With SLiM v3.7.1, this script ran without error. In SLiM 4, it throws the error
[code]

This is pretty inconsequential. But, it could mean that some scripts break (e.g. if the number of individuals sampled is random and might be zero), and the error message is confusing.

[2022-08-16 22:27] bhaller commented on #345
Aha, good catch.  This should work, and apparently there's no unit test checking that.

[2022-08-23 23:40] bryce-carson commented on #174
Hi Ben,

I'm closing this issue as I don't think we will need the extra build information. If something happens with the C++ or Qt5 sources that really bogs SLiM's build, I'm sure we'll find out soon enough, and it won't affect releasing.

It's an extra complication that I don't think we need at this time, or in the future.

[2022-08-23 23:40] #174 closed

[2022-08-24 22:40] #175 closed

[2022-08-25 00:18] #288 closed

[2022-08-26 06:21] olivia-johnson opened #347 "Error when using tree sequence recording in conditional simulations"
Hi everyone,

Following the new update, I have found that my conditional simulation that includes tree sequence recording returns an error when it restarts if the condition could not be met. The error is  "(Species::_InstantiateSLiMObjectsFromTables): (internal error) remembered_genomes_ is not empty" and it invalidates the simulation. I think I need to clear the individuals from the memory when t

[2022-08-26 12:38] bhaller commented on #347
Hi @olivia-johnson.  Thanks very much for the bug report.  I'll look into it as soon as I can, perhaps later today.  I think it will be an easy fix; it's just a case that we haven't tested, and so it slipped through the cracks.  (@petrelharp perhaps it would be good for you and I to both add a test that hits this case, in our respective testing suites!)

[2022-08-27 14:38] #347 closed

[2022-08-29 19:08] petrelharp opened #349 "logfiles and absolute paths on windows"
Over in https://github.com/popsim-consortium/stdpopsim/pull/1342 we've run into an issue that if you pass `createLogFile` an absolute path in Windows it erroneously interprets it as a relative path. Ben says that

[2022-08-30 13:34] bhaller commented on #343
This is done, closing.  https://github.com/msys2/MINGW-packages/pull/12774

[2022-08-30 13:34] #343 closed

[2022-09-08 18:52] bhaller commented on #349
OK, having sorted out the GitHub Actions issues that were getting in my way, it is now clear that I have managed to fix this issue.  Closing.

[2022-09-08 18:52] #349 closed

[2022-09-08 22:32] #345 closed

[2022-09-09 16:36] bhaller opened #350 "Add parent age information to Individual"
As discussed in https://github.com/tskit-dev/pyslim/issues/284, it might make life much easier if SLiM kept track of the ages of the parents of individuals, to make it easy for users to calculate the generation time for nonWF models.  The pyslim doc has an example of this at https://tskit.dev/pyslim/docs/latest/time_units.html that puts it in `tagF`; models that want to use `tagF` for other purpos

[2022-09-09 16:41] bhaller opened #351 "Tree-seq docs in the SLiM manual need a review"
On another issue, now closed, I wrote:

"You" is @petrelharp :->.  #244 should be folded into this issue.  @petrelharp do you have cycles free to do this?  It doesn't necessarily have to happen for 4.0.1, but I don't want it to be on the back burner forever, either; improving this doc is important.

[2022-09-09 18:10] petrelharp commented on #351
I would like to do this, but have very few free cycles at the moment, as classes are starting soon.

[2022-09-09 18:13] petrelharp commented on #350
Let's see: for testing, we'd
1. simulate under various nonWF models where fecundity depends on age with lots of neutral mutations *in SLiM*
2. compute mean generation time
3. check if mean sequence divergence equals mean coalescence time multiplied by mutations per unit time, i.e., compare
[code]
to
[code]
where `slim_mut_rate` is the mutation rate per generation in SLiM and `mean_gen_time` is the

[2022-09-09 18:14] petrelharp commented on #350
I agree this *would* make things easier; if you are not worried about the additional memory & time footprint then I say go for it.

[2022-09-09 18:15] bhaller commented on #351
Yep.  #350 is higher priority for now; let's try to get to this one when you have more time.  :->

[2022-09-09 18:17] petrelharp commented on #350
Brainstorming: one way to make it optional would be to make it a flag to `initializeTreeSeq( )`, say `recordGenerationTime`, that will save an estimate in the final tree sequence's metadata somehow; and the per-individual property is only available if this is turned on. I'm suggesting this because the only common use case I can think of where poeple would want to know this is for post-hoc transfor

[2022-09-09 22:15] bhaller commented on #350
OK, there's a PR now.  I chose to make keeping mean parent ages be always-on, for now; I'll do some speed tests but I don't expect to see this show up as significant, since it's very minimal bookkeeping and it's per-individual, per-generation; that's not a heavy bottleneck in general.  Trying to actually calculate and record the generation time strikes me as overkill, since (as I wrote above) peop

[2022-09-12 21:46] silastittes commented on #350
This issue came up in a discussion on slack and I offered to help. I imagine some changes will be needed, but wanted to share what I came up with for further suggestions.
I modified the pyslim example recipe for recording generations times and ran 100 simulations varying recombination and mutation rates. The main change to the recipe is using `getValue`/`setValue` to track mean parent ages. I conf

[2022-09-12 21:52] bhaller commented on #350
Convenient that I forgot to close this issue, since it provides a venue for discussion.  :->

This looks great, thanks @silastittes!  I don't know enough popgen to have any idea regarding the discrepancy in the plot.  Looks like about a factor of 10, actually, not just 2x.  @petrelharp, is there a problem here, or were you looking just for a good correlation (clearly present), not for equality?

[2022-09-12 21:57] silastittes commented on #350
"An error by any other factor would smell as suspicious" ;)

[2022-09-13 18:01] petrelharp commented on #350
Something's wrong here. One possibility is that you're taking the mean of the whole trajectory, not just the most recent bit of time. Since "generation time" artifically starts out at zero and we have to wait for things to equilibrate, that might be affecting it. Instead, how about:
[code]

[2022-09-13 18:02] petrelharp commented on #350
Ah, also - you should not recapitate. We want to compare SLiM-produced mutations to the trees; adding in a recapitated portion messes things up (ie adds some bits of the trees without SLiM-produced mutations).

[2022-09-13 18:13] bhaller commented on #350
@silastittes it would be great if you could take another swing at this ASAP.  I'm hoping to release SLiM 4.0.1 in a day or three, and I'd like to know that this new feature is correct/useful.  Thanks!

[2022-09-13 18:36] silastittes commented on #350
@petrelharp nailed it!

[2022-09-13 18:40] silastittes commented on #350
Foe the curious. Adding recapitation (doh!) was the biggest issue, but the change `gen_times = np.mean(meta['generation_times'][50:])` noticeably shifted things a small amount too.

[2022-09-13 20:45] bhaller commented on #350
Awesome!  Hard to imagine a better correlation, that must be a R^2 of 0.999.  :->  Looks like this is all good; closing.  @petrelharp I guess it would be good for the pyslim docs to get updated to use this facility; I imagine you're already on that.  :->  Thanks!

[2022-09-13 20:45] #350 closed

[2022-09-13 21:04] bhaller commented on #350
And thank you for doing this, Silas!  :->

[2022-09-13 21:06] silastittes commented on #350
No problem, I was happy to do it! I'll chat with Peter, but we do have plans to update pyslim docs.

[2022-09-14 13:19] bhaller opened #356 "SLiM 4.0.1 release process"
This seemed to work well for 4.0, so I guess I'll do it again.  This issue is for the roll of SLiM 4.0.1, which has been tagged in git (tag v4.0.1).  There are various things to do:

- [x] a new conda package (me)
- [x] a new Arch installer (@grahamgower)
- [x] a new macOS installer (me)
- [ ] a new Windows pacman installer (@rdinnager)
- [ ] our first Flatpak installer!  (for SLiMgui only) (@bryc

[2022-09-14 13:46] grahamgower commented on #356
First post!
https://aur.archlinux.org/packages/slim-simulator

:P

[2022-09-14 16:16] bryce-carson commented on #356
[COPR build](https://copr.fedorainfracloud.org/coprs/bacarson/SLiM-Selection_on_Linked_Mutations/build/4836796/) has been submitted.

[2022-09-14 16:53] bryce-carson commented on #356
The COPR build has completed successfuly, and the Flatpak has been submitted to Flathub for review. Once the maintainers of Flathub approve the pull-request, the application will be built and immediately published.

[2022-09-14 16:59] bhaller commented on #356
Wow, Flathub replied quickly!  That's very nice.  FYI, I'll be offline for the next several hours, back on later today.  Thanks all.

[2022-09-14 17:29] bryce-carson commented on #356
Indeed! I'll always be AFK, but for a couple days. I have classes and homework that I need to prioritize now, but I should have this resolved on Saturday, I think.

[2022-09-14 23:20] bhaller commented on #356
OK, SLiM 4.0.1 is officially released and announced.  The Windows and Flatpak installers will take a little longer to come out, as expected.  This issue will stay open until they do; please post with progress updates.  Thanks everybody!

[2022-10-06 01:00] rdinnager commented on #356
Eek! I totally forgot about this. Apologies, I will get on it as soon as possible.

[2022-10-06 01:01] bhaller commented on #356
I had forgotten too, lol.

[2022-10-06 01:25] bryce-carson commented on #356
Flatpak is stuck because CMake is bring belligerent. :/ I don't have the time right now, but maybe late next week if I catch up in my courses.

[2022-10-11 00:10] bhaller opened #361 "More than ~2 billion segregating mutations doesn't give a good error"
MutationIndex is int32_t (any reason it can't be uint32_t to raise the roof by 2x?), and so there is a limit of ~2 billion segregating mutations at any one time.  That's probably OK for now.  The bug here is that when that limit is exceeded, you apparently don't get a good error message, you get a cryptic internal error.  See https://groups.google.com/g/slim-discuss/c/HJygUwCAEfU/m/WqpzggOBAAAJ.

[2022-10-21 03:33] petrelharp opened #362 "add `localPopulationDensityAtPoint` method"
Use cases: say we want to make a map of local density, and then use this for visualization or for looking up local density of individuals more quickly.

[2022-10-21 03:36] bhaller commented on #362
"say we want to make a map of local density" this is what the `summarizeIndividuals()` function is for, no?  What's the advantage of the hypothetical `localPopulationDensityAtPoint()` method?

[2022-10-21 04:12] petrelharp commented on #362
Hah, yes, sorry, I'm being hasty here. I suppose that a `localPopulationDensityAtPoint( )` could provide a smoothed version of that, but the advantages are not obvious.

So - it's a very natural thing for someone to want to do, *but* I'll have to think more about a compelling use case.

[2022-10-21 04:14] bhaller commented on #362
And, ah: the reason there isn't already `localPopulationDensityAtPoint()` is that it depends on the interaction _strength_, which is not defined for the "at point" type of methods.  So I'm not sure `localPopulationDensityAtPoint()` makes sense.  If you can suggest a definition for it that does make sense, then I'll consider it; but really I think this is what `summarizeIndividuals()` is designed t

[2022-11-06 19:10] bhaller opened #364 "Windows CI failing due to SIGTRAP"
The Windows CI (both CLI and GUI) presently fail for the "parallel" branch because they try to do `raise(SIGTRAP)`, from signal.h, but signal.h is not part of the Windows compatibility stuff yet.  See, e.g.:

https://github.com/MesserLab/SLiM/actions/runs/3405463393

This is an issue for @rdinnager; thanks Russell.

[2022-11-16 18:08] TripleEmma opened #365 "Can't reload recapitated tree to SLiM"
Hi,

I can't reload tree that recapitated by pyslim and mutation overlaid by msprime to SLiM.

The goal is to calculate the heterozygosity after a bottleneck event. Following suggestions by Benjamin, I first simulated the bottleneck in SLiM (step1) and then recapitated and overlaid mutation using pyslim and msprime (step2), finally reloaded the tree to SLiM to calculate heterozygosity (step3). Mor

[2022-11-16 18:16] bhaller commented on #365
This is very helpful, thanks @TripleEmma.  Can you also attach the `slim_3591373321352.recap.overlaid.tree` file that causes the error?  (Also, it doesn't matter to this issue, but note that the standard file extension is `.trees` not `.tree`, because a tree sequence is not just one tree but many.  :->)  @petrelharp Once I've got the `.trees` file I'll look into the problem on the SLiM load end of

[2022-11-16 18:49] TripleEmma commented on #365
Hi @bhaller, the file size is too big. Therefore I upload [here](https://drive.google.com/file/d/10tMKhIde89P7dpN-lIwn5TU1QcesU0s7/view?usp=share_link). Thank you!

[2022-11-16 19:25] bhaller commented on #365
OK @petrelharp, it looks like `Species::DerivedStatesFromAscii()` is hitting an uncaught raise with the line:

`binary_derived_state.emplace_back((slim_mutationid_t)std::stoll(string_derived_state));`

`string_derived_state` appears to have the value `T`, which looks to be a nucleotide.  So it's not a SLiM-style derived state; it has been turned into a nucleotide by somebody.  This means, it seems

[2022-11-16 20:37] TripleEmma commented on #365
@bhaller Thank you for such quick response!
So if I understand correctly, I should add one more command line in the recapitation step: new_ts = pyslim.annotate(mutated, model_type="WF", tick=1)?
(I actually have no idea what the tick=1 means here. The only annotate() function example I found is :
ts = pyslim.annotate(ts, model_type="nonWF", tick=1))

After this, I reloaded the trees into SLiM. The

[2022-11-16 21:43] bhaller commented on #365
Hi Emma!  Yes, I think you need to add a call to `pyslim.annotate()` as you have now done.  You can find the doc for it here:

https://tskit.dev/pyslim/docs/latest/python_api.html#pyslim.annotate

The relevant doc for that value `tick=1` is:

With `tick`, I think you have a choice (and I hope I'm explaining this correctly, Peter will clarify if I'm mistaken).  The `.trees` file saved out in stage

[2022-11-16 22:41] TripleEmma commented on #365
Thank you for the suggestion and solution! @bhaller
Yes, it works after replacing all "p1" with "p0".

However, one more error pop up:
**ERROR (Species::__CreateMutationsFromTabulation): mutation type m0 has not been defined for this species.**

I added a line in the initialize() callback:
initializeMutationType("m0", 0.5, "f", 0.0);

The final script is like:
initialize() {
    initializeTreeSeq(

[2022-11-16 22:56] bhaller commented on #365
Hi Emma.  Rather than defining a type `m0`, I think you need to pass the correct type to `sim_mutations()`.  I think this vignette may be quite helpful to you:

https://tskit.dev/pyslim/docs/latest/vignette_coalescent_diversity.html

There might be other lessons for you there as well, since I think it does something quite similar to what you are trying to do.  I hope that helps.

[2022-11-17 20:14] TripleEmma commented on #365
Hi @bhaller , the vignette is indeed very helpful! I now fully understand your idea (and some other concepts related to SLiM and coalescent).  Thank you!!

[2022-11-17 20:57] bhaller commented on #365
Great!  I'll keep this issue open since there are some action items for Peter and I from this.  Thanks!

[2022-11-18 03:28] petrelharp commented on #365
Yes - please have a look at that vignette, @TripleEmma; and in particular notice that if you put down mutations with the `SLiMMutationModel` then you don't have to do `annotate`.

[2022-11-18 19:48] TripleEmma commented on #365
Hi @petrelharp, I have done several tests.

If specifying mut_model=msprime.SLiMMutationModel(type=1) and msprime.sim_mutations(ts, model=mut_model), I can skip the pyslim.annotate(mutated, model_type="WF", tick=1000, stage="late") while setting initializeMutationType("m1", 0.5, "f", 0.0) in SLiM.

But I have to keep using 'p0', otherwise still getting the error:

ERROR (Species::__PrepareSubpopul

[2022-11-18 19:50] bhaller commented on #365
Yes, that's a separate issue – and a puzzling one, since I thought we had ironed out all of those issues.  Clearly there's an edge case or two that our tree tests are not covering!  Keep using `p0` for the time being.  :->

[2022-11-29 00:35] bhaller commented on #364
@rdinnager note that the `parallel` branch has just been merged into `master`, so this issue is now breaking the CI of the `master` branch for Windows.  Would be great to get this fixed when you have a chance.  :->  Maybe once you remind yourself how this Windows compatibility stuff works, you could write up some notes about how to add a new file to it, and add those notes to the SLiM repo somewhe

[2022-11-29 19:51] rdinnager commented on #364
I should be able to work on this this week.